# Ignore everything
*

# Items that belong under source controls
!.gitignore
!README.md

!device1/build.zig.zon
!device1/build.zig
!device1/src/
!device1/src/**
!device2/build.zig.zon
!device2/build.zig
!device2/src/
!device2/src/**

